/**
 * Questo lavoro viene concesso in uso secondo i termini della licenza “Attribution-ShareAlike”
 * di Creative Commons. Per ottenere una copia della licenza, è possibile visitare
 * http://creativecommons.org/licenses/by-sa/1.0/ oppure inviare una lettera all’indirizzo
 * Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.

 * This work is licensed under the Creative Commons Attribution-ShareAlike License.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/1.0/
 * or send a letter to Creative Commons, 559 Nathan Abbott Way, Stanford,
 * California 94305, USA.
 */

#alter-toast {

  float: right;

  position: absolute;
  top: 2em;
  right: 2em;

  padding: 10px;
  border: 2px solid hsl(93, 73%, 53%);
  border-radius: 4px;
  background: hsl(93, 94%, 79%);
  color: black;

  width: auto;
}

#possword-toast{

  float: right;

  position: absolute;
  top: 2em;
  right: 2em;

  padding: 10px;
  border: 2px solid hsl(3, 73%, 53%);
  border-radius: 4px;
  background: rgb(251, 157, 157);
  color: black;

  width: 10em;
}

[role="alert"]:empty {
  display: none;
}
