/**
 * Questo lavoro viene concesso in uso secondo i termini della licenza “Attribution-ShareAlike”
 * di Creative Commons. Per ottenere una copia della licenza, è possibile visitare
 * http://creativecommons.org/licenses/by-sa/1.0/ oppure inviare una lettera all’indirizzo
 * Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.

 * This work is licensed under the Creative Commons Attribution-ShareAlike License.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/1.0/
 * or send a letter to Creative Commons, 559 Nathan Abbott Way, Stanford,
 * California 94305, USA.
 */

[role="button"] {
  display: inline-block;
  position: relative;
  padding: 0.6em 1em;
  border: 1px solid rgb(55, 58, 60);
  border-radius: 5px;
  box-shadow: 0 1px 2px hsl(0, 0%, 41%);
  color: white;
  text-shadow: 0 -1px 1px rgb(47, 60, 82);
  background-color: rgb(55, 58, 60);
  background-image: linear-gradient(to bottom, rgb(55, 58, 60), rgb(55, 58, 60));
  font-style: italic;
}

[role="button"]:hover {
  border-color: black;
  background-color: rgb(125, 129, 129);
  background-image: linear-gradient(to bottom, rgb(125, 129, 129), rgb(125, 129, 129));
  cursor: auto;
}


/*Dimensione bottoni segnati con !important perche'
in qualche file css postrebbe esserci qualche riferimento a qualche
input generale e quindi interferirebbe con lo style dei bottoni*/

.button_login{

  margin-left: 8em !important;
  margin-top: 0.5em !important;

  width: 20em !important;

}

.button_submit{
  margin-left: 3em !important;
  margin-top: 2em !important;

  width: 20em !important;
}
