/**
 * Questo lavoro viene concesso in uso secondo i termini della licenza “Attribution-ShareAlike”
 * di Creative Commons. Per ottenere una copia della licenza, è possibile visitare
 * http://creativecommons.org/licenses/by-sa/1.0/ oppure inviare una lettera all’indirizzo
 * Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.

 * This work is licensed under the Creative Commons Attribution-ShareAlike License.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/1.0/
 * or send a letter to Creative Commons, 559 Nathan Abbott Way, Stanford,
 * California 94305, USA.
 */

.container{
  position: relative;
  width: 100%;
  height: 75vh;
  min-height: 100%;
}

.container .title-container{
  margin-left: 6.5em;
}

.inline-container{
  display: inline-flex;
  position: relative;
  width: 100%;
}

.block-container{
  display: block;
  position: relative;
  width: 60%;
}

.space{
  height: 20%;
}
