/**
 * Questo lavoro viene concesso in uso secondo i termini della licenza “Attribution-ShareAlike”
 * di Creative Commons. Per ottenere una copia della licenza, è possibile visitare
 * http://creativecommons.org/licenses/by-sa/1.0/ oppure inviare una lettera all’indirizzo
 * Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.

 * This work is licensed under the Creative Commons Attribution-ShareAlike License.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/1.0/
 * or send a letter to Creative Commons, 559 Nathan Abbott Way, Stanford,
 * California 94305, USA.
 */

* { box-sizing:border-box; }

/* form starting stylings ------------------------------- */
.group  {
  position:relative;
  margin-bottom: 2em;
  margin-left: 5em;
}

.material-inputs {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  background-color: rgb(53, 145, 247);
}

.material-inputs:focus 		{
  outline:none;
}

/* LABEL ======================================= */
label 				 {
  color:#ffffff;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.material-inputs:focus ~ label, .material-inputs:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#ffffff;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#00b2ff;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.material-inputs:focus ~ .bar:before, .material-inputs:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}


.button_login{
  margin-left: 12.5em !important;
}

/* Error message */
.error-message {
  color: rgb(251, 157, 157);
  display: inline-block;
  font-size: 16px;
  line-height: 15px;
  margin: 5px 0 0;
}

.material-inputs:invalid{
    border-color: rgb(251, 157, 157);
}

.material-inputs:valid{
    border-color: rgb(53, 145, 247) !important;
}
