/**
 * Questo lavoro viene concesso in uso secondo i termini della licenza “Attribution-ShareAlike”
 * di Creative Commons. Per ottenere una copia della licenza, è possibile visitare
 * http://creativecommons.org/licenses/by-sa/1.0/ oppure inviare una lettera all’indirizzo
 * Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.

 * This work is licensed under the Creative Commons Attribution-ShareAlike License.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/1.0/
 * or send a letter to Creative Commons, 559 Nathan Abbott Way, Stanford,
 * California 94305, USA.
 */

.material-list-wrapper{
	width: 20%;
	margin: 2em;
	font-size: 18px;
}
.mat_list{
	list-style-type: none;
	display:block;
	height: auto;
	background-color: rgb(199, 200, 200);
}
.mat_list li{
	text-align: center;
	margin-top:-1px;
	width:100%;
	max-height: 100%;
	transition: max-height 0.5s;
	overflow: hidden;
    font-size: 16px;
    color: rgb(55, 58, 60);
    font-weight: bold;
}
.mat_list li::before{
	content: "";
	width: 100%;
	display:block;
	border-top:0.2em solid rgba(0,0,0,0.3);
}
.mat_list li.hide{
	max-height:0em;
}
.mat_list_title{
	background-color: rgb(39, 128, 227);
	color: white;
	text-align: center;
	font-weight: bold;
}
.mat_list_title[style*="background"]{
	height: 10em;
	bottom: 0;
	position:relative;
	background-size: cover;
	background-position: center center;
}
.mat_list_title>span{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.mat_list_title[style*="background"]>span{
	position:absolute;
	bottom:0pem;
	padding-bottom: 5em;
	padding-left: 0.6em;
	background-color: rgba(0,0,0,0.75);
}
