/**
 * Questo lavoro viene concesso in uso secondo i termini della licenza “Attribution-ShareAlike”
 * di Creative Commons. Per ottenere una copia della licenza, è possibile visitare
 * http://creativecommons.org/licenses/by-sa/1.0/ oppure inviare una lettera all’indirizzo
 * Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.

 * This work is licensed under the Creative Commons Attribution-ShareAlike License.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/1.0/
 * or send a letter to Creative Commons, 559 Nathan Abbott Way, Stanford,
 * California 94305, USA.
 */

body{
  background-color: rgb(218, 218, 218);
  font-size: 18px;
}

.upperBunner{
  border-radius: 2%;
  background-color: rgb(39, 128, 227);
  font-weight: bold;
}

.upperBunner img{
  width: 2%;
  height: 1%;
  padding: 1%;
}

.upperBunner img:hover{
  width: 2.5%;
  height: 2%;
  padding: 0.75%;
}

.message_presentation{
  background-color: rgb(251, 167, 3);
  font-style: italic;
  border-color: black;
  border-radius: 20%;
  border-style: solid;
}

.message_presentation h2{
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.message_presentation p{
  color: rgb(77, 86, 89);
  font-style: italic;
  padding: 0.5%;
}

.select_constraint{
  display: inline-flex;
}

.form_constraint, .form_login{
  /*Settin position form*/
  width: 33em;
  margin-left: 5em;
  margin-right: auto;
  margin-top: 2vw;

  border-color: rgb(55, 58, 60);
  font-weight: bold;
  border-radius: 5em;
  border-style: solid;
  background-color: rgb(39, 128, 227);
  color: rgb(248, 249, 250);
  font-size: 18px;
  font-weight: bold;
  padding: 1.5em;
}

.input_constraint{
  display: block;
  margin-top: 15%;
}
.label_constraint{
  display: block;
  margin: 5%;
}

.select_constraint{
  font-weight: bold;
}
.form_list{
  list-style-type: none;
}

.special_c_dist{
  margin-left: 7.3em;
  width: 2em;
}

.num_c_dist{
  margin-left: 7.8em;
  width: 2em;
}

.low_c_dist{
  margin-left: 2.5em;
  width: 2em;
}

.up_c_dist{
  margin-left: 2.5em;
  width: 2em;
}


.ln_c_dist{
  margin-left: 5.5em;
  width: 2em;
}

.result_pass{
  background-color: rgb(245, 178, 29);
  border-style: solid;
  border-radius: 5%;
  padding: 5em;
}

.icon_result{
  width: 1.5%;
  height: 0.5%;
  display: inline-flex;
}

.checkboxes{
  list-style: none;
  margin-left: 15em;
}

.emoj{
  display: inline-flex;
}

.constraint-position{
  position: relative;
  left: 4em;
  right: 5em;
}
