/**
 * Questo lavoro viene concesso in uso secondo i termini della licenza “Attribution-ShareAlike”
 * di Creative Commons. Per ottenere una copia della licenza, è possibile visitare
 * http://creativecommons.org/licenses/by-sa/1.0/ oppure inviare una lettera all’indirizzo
 * Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.

 * This work is licensed under the Creative Commons Attribution-ShareAlike License.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/1.0/
 * or send a letter to Creative Commons, 559 Nathan Abbott Way, Stanford,
 * California 94305, USA.
 */

input {
    background-color: rgb(42, 143, 255) !important;
    color: black;
    width: 3em !important;
}

.annotate {
  font-style: italic;
  color: rgb(237, 243, 250);
  border-bottom: rgb(31, 127, 233);
}

.hidden {
  display: none;
}

.combobox-wrapper {
  display: inline-block;
  position: relative;
  font-size: 16px;
  margin-left: 1%;
}

.combobox-label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.listbox,
.grid {
  min-width: 230px;
  background: white;
  border: 1px solid #ccc;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1.7em;
  z-index: 1;
}

.listbox .result {
  cursor: default;
  margin: 0;
}

.grid .result-row {
  padding: 2px;
  cursor: default;
  margin: 0;
}

.listbox .result:hover,
.grid .result-row:hover {
  background: rgb(90, 155, 227);
}

.listbox .focused,
.grid .focused {
  background: rgb(90, 155, 227);
}

.grid .focused-cell {
  outline-style: dotted;
  outline-color: green;
}

.combobox-wrapper input {
  font-size: inherit;
  border: 1px solid rgb(39, 128, 227);
  border-radius: 2px;
  line-height: 1.5em;
  width: 200px;
}

.combobox-dropdown {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 0 2px;
  height: 1.5em;
  border-radius: 0 2px 2px 0;
  border: 1px solid #aaa;
}

.grid .result-cell {
  display: inline-block;
  cursor: default;
  margin: 0;
  padding: 0 5px;
}

.grid .result-cell:last-child {
  float: right;
  font-size: 12px;
  font-weight: 200;
  color: #c3c7c7;
  line-height: 24px;
}
