<div class="footer">
    <div class="colum-footer">
        <ul>
            <li class="titlesFooter">Siti sviluppato per il corso di <br/> Programmazione Client Server Dell'anno accademico 2018/2019</li>
            <li>
                <a href="http://www.informatica.unibas.it/informatica"> Universit&agrave; della Basilicata</a>
                <p class="secondary-information"> Via dell'ateneo lucano </p>
            </li>
        </ul>
    </div>

    <div class="colum-footer">
        <ul>
            <li class="titlesFooter">Riferimenti corso</li>
            <li><a href="https://informatica.unibas.it/moodle/course/view.php?id=400">Sito del corso</a></li>
            <li><a href="https://bitbucket.org/clientserverproject/jsp-passwordchecking/src">Sito del progetto</a></li>
            <li>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/it/">
                    Quest'opera è distribuita con Licenza
                </a>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/it/">
                    Creative Commons
                </a>
            </li>
            <li>
                <a href="https://achecker.ca/checker/index.php?uri=referer&gid=https://jsp-password-checking-unibas.herokuapp.com">
                    <img src="https://achecker.ca/images/icon_W2_aaa.jpg" alt="WCAG 2.0 (Level AAA)" height="32" width="102" />
                </a>
            </li>
            <!--  informazioni sul progetto magari in un Dialog aria
            <li><a href="https://bitbucket.org/clientserverproject/passwordcheckingjspformbean/src/master/">Info del progetto</a></li>
            -->
        </ul>
    </div>

    <div class="colum-footer">
        <ul>
            <li class="titlesFooter">Sviluppatore</li>
            <li>Autore Vincenzo Palazzo</li>
            <li><a src="https://palazzovincenzo.gitlab.io/plain-html/">Sito internet</a></li>
        </ul>
    </div>
</div>

<!--
/**
 * Questo lavoro viene concesso in uso secondo i termini della licenza “Attribution-ShareAlike”
 * di Creative Commons. Per ottenere una copia della licenza, è possibile visitare
 * http://creativecommons.org/licenses/by-sa/1.0/ oppure inviare una lettera all’indirizzo
 * Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.

 * This work is licensed under the Creative Commons Attribution-ShareAlike License.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/1.0/
 * or send a letter to Creative Commons, 559 Nathan Abbott Way, Stanford,
 * California 94305, USA.
 */
-->
